@model IEnumerable<UniversityBooking.Models.BookingRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedUntil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.UserID)</td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedUntil)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingId })
        </td>
    </tr>
}

</table>
