@model UniversityBooking.Models.Room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h2 align="center"> @Html.DisplayFor(model => model.RoomName)</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomLocation.OfficeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomLocation.OfficeLocation)
        </dd>

        <dd>
            <table class="table">
                <tr>
                    <th>BookingID</th>
                    <th>Booked By</th>
                    <th>TimeStamp</th>
                    <th>Booked From</th>
                    <th>Until</th>
                    <th>Description</th>
                </tr>
                @foreach (var item in Model.BookingRecords)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.BookingId)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateStamp)</td>
                        <td>@Html.DisplayFor(modelItem => item.BookedFrom)</td>
                        <td>@Html.DisplayFor(modelItem => item.BookedUntil)</td>
                        <td>@Html.DisplayFor(modelItem => item.EventDescription)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
